body {
  margin: 0;
  padding: 0;
  background: url("./pages/img/fondo.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#titulo,
#titulo2,
#descripcion,
#tareas {
  padding: 5px;
  background-color: #fcfcfc;
  border-radius: 10px;
}
.row {
  margin-top: 50px;
}

.card-body {
  border-radius: 20px;
  text-align: center;
}

#login,
#correos,
#contra {
  padding: 5px;
  background-color: #fcfcfc;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}
